{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Detail{% endblock title %}

{% block content %}
<div class="container">
<br>
<div class="card-detail">
  <h5 class="card-header">Events Info</h5>
  
  <div class="card-body">
    <h5 class="card-title">{{event.title}}</h5>
    <p class="card-text">{{event.description|linebreaks}}</p>
    <p class="card-text">Start at: {{event.date}}{{event.time}}</p>
    <p class="card-text">Seats Available: {{event.seats_left}}</p>
    <p class="card-text">Organizer: {{event.organizer}}</p>
    <a href="{% url 'profile' event.organizer.id %}" class="btn btn-outline-dark">View Profile</a>
  
 
  <div class="card-body">
    <div class="row text-center">
      {% if request.user.is_staff %}
        
      {% elif request.user == event.organizer or request.user.is_staff %}
        <div class="col-12">
            <a href="{% url 'event-update' event.id %}" class="btn btn-outline-warning btn-block">Update</a>
                        <a href="{% url 'event-delete' event.id %}" class="btn btn-outline-danger btn-block">Delete</a>

        </div>
        <br>
        <div class="col-md-6">
          <ul>
            {% for booking in bookings %}
            <li>
              <strong>{{booking.user.username}}</strong> Booked: {{booking.seats}} Seat(s)
              </li>
            {% endfor %}
            </ul>
        </div>
        

      {% endif %}
    </div>
  </div>
  
  {% if not event.seats_left == 0 and not event.organizer == request.user%}
    <h2>Book seats!</h2>
  
    
  <form action="{% url 'event-detail' event.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Book" class="btn" style="background-color: #e3f2fd; color: black;">
  </form>
  {% elif event.seats == 0 %}
    <h2>Event Full!</h2>
  {% endif %}
  </div>
</div>
</div>
{% endblock content %}