{% extends "base.html" %}

{% block title %}Detail{% endblock title %}

{% block content %}
<div class="container">
<br>
<div class="card">
  <h5 class="card-header">Events Info</h5>
  
  <div class="card-body">
    <h5 class="card-title">{{event.title}}</h5>
    <p class="card-text">{{event.description|linebreaks}}</p>
    <p class="card-text">Start at: {{event.datetime}}</p>
     <p class="card-text">Seats Available: {{event.seats}}</p>
  </div>
 
 
  <div class="card-body">
    <div class="row text-center">
      {% if request.user.is_staff %}
        <div class="col-md-4">
            <a href="{% url 'event-update' event.id %}" class="btn btn-outline-primary btn-block">Update</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'event-delete' event.id %}" class="btn btn-outline-danger btn-block">Delete</a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'booking' event.id %}" class="btn btn-outline-primary btn-block">Book</a>
        </div>
      {% elif request.user == event.organizer or request.user.is_staff %}
        <div class="col-md-6">
            <a href="{% url 'event-update' event.id %}" class="btn btn-outline-primary btn-block">Update</a>
        </div>
        <div class="col-md-6">
          <ul>
            {% for booking in bookings %}
            <li>
              <strong>{{booking.user.username}}</strong> Booked: {{booking.seats}} Seat(s)
              </li>
            {% endfor %}
            </ul>
        </div>
        {% elif not request.user.is_anonymous %}
          <div class="col-md-6">
            <a href="{% url 'booking' event.id %}" class="btn btn-outline-primary btn-block">Book</a>
        </div>

      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock content %}